{
    "Version": "2012-10-17",
    "Statement": [
        {
            "Sid": "VisualEditor0",
            "Effect": "Allow",
            "Action": [
                "ecs:CreateService",
                "ecs:DescribeServices",
                "ecs:DescribeClusters",
                "ecs:UpdateService"
            ],
            "Resource": [
                "arn:aws:ecs:us-east-1:761018883680:cluster/catpipeline-Cluster/*",
                "arn:aws:ecs:us-east-1:761018883680:service/catpipeline-Cluster/*",
                "arn:aws:ecs:us-east-1:761018883680:task/catpipeline-Cluster/*",
                "arn:aws:ecs:us-east-1:761018883680:cluster/catpipeline-Cluster"
            ]
        },
        {
            "Sid": "VisualEditor1",
            "Effect": "Allow",
            "Action": [
                "ecs:DescribeTaskDefinition",
                "ecs:RegisterTaskDefinition",
                "ecs:ListTasks",
                "ec2:DescribeNetworkInterfaces",
                "ecs:DescribeTasks"
            ],
            "Resource": [
                "*"
            ]
        }
    ]
}